 body {
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  font-family:"Times New Roman", normal;
  font-weight:normal;
  background:#FFFFFF;
  background:url(back.gif) repeat center top; }

 #main * { margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; }
 #main h1 { font-size:25px; font-weight:normal; }
 #main h2 { font-size:20px; font-weight:normal; }
 #main h3 { font-size:15px; font-weight:normal; }
 #main h4 { font-size:10px; font-weight:normal; }
 #main td { text-align:center; }
 #main *.left { text-align:left; }
 #main *.black { color:#000000; }
 #main *.black * { color:#000000; }
 #main *.red { color:#FF0000; }
 #main *.red * { color:#FF0000; }
 #main *.green { color:#00FF00; }
 #main *.green * { color:#00FF00; }
 #main *.blue { color:#0000FF; }
 #main *.blue * { color:#0000FF; }
 #main *.white { color:#FFFFFF; }
 #main *.white * { color:#FFFFFF; }
 #main *.yellow { color:#FFFF00; }
 #main *.yellow * { color:#FFFF00; }
 #main *.grey { color:#C0C0C0; }
 #main *.grey * { color:#C0C0C0; }
 #main *.darkgrey { color:#808080; }
 #main *.darkgrey * { color:#808080; }
 #main *.green-white { color:#FFFFFF; background:#008000; }
 #main *.green-white * { color:#FFFFFF; background:#008000; }
 #main *.grey-white * { color:#FFFFFF; background:#808080; }
 #main *.grey-white { color:#FFFFFF; background:#808080; }
 #main a:hover { color:#FFFFFF; background:#0000FF; }
 #main a:hover * { color:#FFFFFF; background:#0000FF; }

 #contact {
  position:fixed;
  width:800px;
  height:40px;
  top:0px;
  left:0px;
  right:0px;
  margin-left:auto;
  margin-right:auto;
  z-index:1000;
  background:-moz-linear-gradient(top, #404040 0%, #808080 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#404040), color-stop(100%,#808080));
  background:-webkit-linear-gradient(top, #404040 0%,#808080 100%);
  background:-o-linear-gradient(top, #404040 0%,#808080 100%);
  background:-ms-linear-gradient(top, #404040 0%,#808080 100%);
  background:linear-gradient(top, #404040 0%,#808080 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#808080',GradientType=0 );
  }

 #general {
  //position:absolute;
  padding-top:40px;
  width:800px;
  top:40px;
  left:0px;
  right:0px;
  margin-left:auto;
  margin-right:auto;
  }

  #header_cont {
   height:130px;
   border-bottom:2px solid #000000;
   background:#000000;
   background:url(logo.gif) repeat left top;
   color:#FFFFFF;
   }
  #header_cont td {
   color:#000000;
   }

   #header-title {
    //position:absolute;
    height:90px;
    top:40px;
    width:796px;
    border-left:2px solid #000000;
    border-right:2px solid #000000;
    }

  #centerbar {
   border-left:2px solid #000000;
   border-right:2px solid #000000;
   background:#FFFFFF;
   color:#000000;
   }
  #centerbar td {
   color:#000000;
   }

   #text_margin {
    margin-left:10px;
    margin-right:10px;
    }

 #footer {
  height:100px;
  background:#000000;
  color:#FFFFFF;
  }
 #footer td {
  color:#FFFFFF;
  }

ul.banner_slide { overflow:hidden; position:relative; width:796px; height:194px; }
.banner_slide li { list-style-type:none; position:absolute; }

ul.slide1 { overflow:hidden; position:relative; width:125px; height:94px; }
.slide1 li { list-style-type:none; position:absolute; }
ul.slide2 { overflow:hidden; position:relative; width:125px; height:94px; }
.slide2 li { list-style-type:none; position:absolute; }
ul.slide3 { overflow:hidden; position:relative; width:125px; height:94px; }
.slide3 li { list-style-type:none; position:absolute; }
ul.slide4 { overflow:hidden; position:relative; width:125px; height:94px; }
.slide4 li { list-style-type:none; position:absolute; }
ul.slide5 { overflow:hidden; position:relative; width:125px; height:94px; }
.slide5 li { list-style-type:none; position:absolute; }
ul.slide6 { overflow:hidden; position:relative; width:125px; height:94px; }
.slide6 li { list-style-type:none; position:absolute; }
ul.slide7 { overflow:hidden; position:relative; width:125px; height:94px; }
.slide7 li { list-style-type:none; position:absolute; }
ul.slide8 { overflow:hidden; position:relative; width:125px; height:94px; }
.slide8 li { list-style-type:none; position:absolute; }
ul.slide9 { overflow:hidden; position:relative; width:125px; height:94px; }
.slide9 li { list-style-type:none; position:absolute; }
